
# rename this file to `.msmtprc`
# change the owner of this file to you
# set the mode of this file to 0600
# copy this file to your $HOME

# Use an external SMTP server with insecure authentication.
# (manually choose an insecure authentication method.)
# Note that the password contains blanks.

defaults

######################################################################
# A sample configuration using Gmail
######################################################################

# account name is "gmail".
# You can select this account by using "-a gmail" in your command line.
account gmail
host smtp.gmail.com
tls on
tls_certcheck off
port 587
auth login
from myaccount@gmail.com
user myaccount
password mypassword

account default: gmail
